<nav class="navbar">
    <div class="logo">
        <a href="#">ShopLogo</a>
    </div>
    <div>
        <a href="#">Admin</a>
        <a href="#">Order</a>
        <a href="/about">About</a>
        <a href="/register">Sign in</a>
        <a href="/login">Log in</a>
        <a href="/dashboard">Dash</a>
    </div>
</nav>
<h1>Welcome, <%= user.username %>!</h1>
<a href="/logout">Logout</a>