<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">ShopLogo</a>
        </div>
        <div>
            <a href="#">Admin</a>
            <a href="#">Order</a>
            <a href="/about">About</a>
            <a href="/register">Sign in</a>
            <a href="/login">Log in</a>
            <a href="/dashboard">Dash</a>
        </div>
    </nav>
    <section class="products">
        <div class="product">Product 1</div>
        <div class="product">Product 2</div>
        <div class="product">Product 3</div>
    </section>
</body>