* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.navbar a:hover {
    color: #007bff;
}

.header {
    background-color: #eaeaea;
    color: white;
    text-align: center;
    padding: 250px 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 1;
    /* Pushes the footer down */
}

.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
    margin-top: 20px;
}